{% extends "./base.html" %}

{% block title %} Gestión de Clientes {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Gestión de Clientes</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registrarCliente' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtRut" name="txtRut" class="form-control" placeholder="Rut cliente"
                             required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre cliente"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellido" name="txtApellido" class="form-control" placeholder="Apellido cliente"
                             required>
                    </div>


                    <div class="form-group">
                        <input type="text" id="txtFecha" name="txtFecha" class="form-control" placeholder="Fecha de pago"
                             required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtMonto" name="txtMonto" class="form-control" placeholder="Monto a pagar"
                             required>
                    </div>
                    
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Cliente no pago</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha de pago</th>
                        <th>Monto a pagar</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in clientes %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.rut}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.apellido}}</td>
                        <td>{{c.fecha}}</td>
                        <td>{{c.monto}}</td>
                        <td><a href="edicionCliente/{{c.rut}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarCliente/{{c.rut}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}